*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*
1.Vị trí
2.kích thước
3.màu sắc
4.Kiểu dáng (kiểu chữ, tròn, vuông,...)
*/

/*css vào Những thành  phần dùng chung*/

.btn{
    color: #000;
    font-weight: bold;
    background-color: #f4A261;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
.pull-right{
    float: right;
}
.clear{
    clear:both;
}
.text-white{
    color:#fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: none;
    display: block;
    clear: both;
}
.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.333%;
}
.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-4{
    margin-top: 4px !important;
}

/*Css vào các thành phần */
#nav{
    display: inline-block;
}
#header{
    width: 100%;
    height: 46px;
    background-color:#f4A261;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    overflow: hidden;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
}
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right:0;
    display:none;
}
#header .mobile-menu-btn:hover{
    opacity: 0.9;

}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .menu-icon,
#header .ti-search{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#nav, .subnav{ /*css vào thẻ ul*/
    list-style-type: none;
}
#nav > li {
    display:inline-block;
}
#nav li{
    position: relative;
    color: #000;
}
#nav > li > a{
    color: #000; /*Chỉ tác động vào nav*/
    text-transform: uppercase;
}
#nav li a{
    font-weight: bold;
    text-decoration: none; /*Bỏ đi gạch chân của phần tử*/
    line-height: 46px; /*Căn giữa chiều cao */
    padding: 0 24px; 
    display: block;
}
#nav li:hover .subnav{
    display:block;
}
#nav > li:hover > a, 
#nav .subnav li:hover a{
    color:#000;
}
#nav .subnav{
    display:none;
    top:100%;
    left:0;
    min-width: 160px;
    position: absolute;
    background-color: transparent;
}
#nav .subnav a{
    color:#000;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#slider{
    margin-top:46px;
    position:relative;
    padding-top: 50%;
    background: url('BLACKPINK\ LOVESICK\ GIRLS\ DESKTOP\ WALLPAPER.png') top center / cover no-repeat;
}

#slider .text-box{
    position: absolute;
    top: 25%;
    width: 100%; 
    text-align: center;
}
#slider .text-heading{
    color:rgb(156, 53, 125);
    font-size: 24px;
    font-weight: bold;
}
#slider .text-description{
    color: rgb(46, 29, 34);
    margin-top: 10px;
    font-weight: 500px;
}

#content .content-section{
    width: 787px;
    max-width: 100%;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;;
    font-weight: 500;
    letter-spacing: 4px; /*cách các ký tự*/
    text-transform: uppercase;
}
#content .section-sub-heading{
    font-size: 15px;
    font-style: italic; /*In nghiêng văn bản*/
    margin-top: 20px;
    opacity: 0.6; /*Thuộc tính làm mờ văn bản*/
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
#content .about-text{
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4; /*Thuộc tính cách dòng*/
}
#content .member-list{
    margin-top: 48px;
    overflow: hidden;
}
#content .member-item{
    float:left;
    width: 25%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    text-transform: uppercase;
    color:rgb(236, 124, 193);
    cursor: pointer;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 10px;
}
/*Tour section*/
#content .tour-section{
    background: rgb(5,5,5);
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    border-radius: 5px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin: -3px;
}
/* Place */
.places-list{
    margin-top: 16px;
    margin-bottom: 48px;
}

.play-img{
    width: 100%;
    height: 180px;
    display: block;
}
.play-img:hover {
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    background-color: #fff;
}
.play-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-description{
    margin-top: 15px;
    line-height: 1.4;
    word-spacing: 3px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #757575;
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    align-items: center; /* Căn giữa chiều cao*/
    justify-content: center;/* Căn giữa chiều ngang*/
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}
.modal-icon{
    margin-right: 18px;
}
.modal-close{
    position: absolute;
    right:0;
    top:0;
    color:#fff;
    padding: 12px;
    cursor: pointer;
}
.modal-close:hover{
    color:#f4A261;
    opacity: 0.9;
}
.modal-header{
    background: #264653;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}
.modal-body{
    padding: 16px;
}
.modal-lable{
    display:block;
    margin-bottom: 12px;
}
.modal-input{
    border-radius: 5px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
    padding: 11px 15px;
}
#buy-tickets{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color:#fff;
    background-color: #264653;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity:0.9;
}
.modal-footer{
    text-align: right;
    font-size: 15px;
    padding: 16px;
}
.modal-footer a{
    color: #219632;;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-141px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/*Contact form*/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i{
    width: 30px; /*đặt thuộc tính width để căn chỉnh icon*/
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
    margin-top: 25px;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .icon-footer{
    font-size: 24px;
}
#footer .icon-footer a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .icon-footer a:hover{
    opacity:0.4;
}
#footer .text-footer{
    color:#f44336;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer .text-footer a{
    text-decoration: none;
}
#footer .text-footer a:hover{
    opacity: 0.4;
}